<h2>Departments</h2>
<div class="left">
  <div class="list-group" *ngFor="let department of departments" (click)="onSelect(department)">
    <a class="list-group-item list-group-item-action">{{department.id}} | {{department.name}}</a>
  </div>
</div>
<div class="right" *ngIf="selectedDepartment">
  <h2>{{selectedDepartment.name}}'s Detail</h2>
    <div class="form-group row">
      <label for="id" class="col-sm-2 col-form-label">ID</label>
      <div class="col-sm-9">
        <input type="text" readonly class="form-control-plaintext" id="id" #id value="{{selectedDepartment.id}}">
      </div>
    </div>
    <div class="form-group row">
      <label for="name" class="col-sm-2 col-form-label">Department</label>
      <div class="col-sm-9">
        <input [(ngModel)]="selectedDepartment.name" class="form-control" id="name">
      </div>
    </div>
</div>
