<h2>Employees</h2>
<div class="left">
  <div class="list-group" *ngFor="let employee of employees" (click)="onSelect(employee)">
    <a class="list-group-item list-group-item-action">{{employee.name}}</a>
  </div>
</div>
<div class="right" *ngIf="selectedEmployee">
  <h2>{{selectedEmployee.name}}'s Detail</h2>
  <form>
    <div class="form-group row">
      <label for="id" class="col-sm-2 col-form-label">ID</label>
      <div class="col-sm-9">
        <input type="text" readonly class="form-control-plaintext" id="id" #id value="{{selectedEmployee.id}}">
      </div>
    </div>
    <div class="form-group row">
      <label for="deptID" class="col-sm-2 col-form-label">Department</label>
      <select class="form-control col-sm-9" id="deptID" #deptID
              value="{{selectedEmployee.departmentID}}">
        <option *ngFor="let department of departments" [value]="department.id">
          {{department.id}} : {{department.name}}</option>
      </select>
    </div>
    <div class="form-group row">
      <label for="rank" class="col-sm-2 col-form-label">Rank</label>
      <select class="form-control col-sm-9" id="rank" #rank value="{{selectedEmployee.rank}}">
        <option *ngFor="let rank of rankList">{{rank}}</option>
      </select>
    </div>
    <div align="right">
      <button type="submit" class="btn btn-primary" (click)="updateEmployee(deptID.value, rank.value)">Submit</button>
    </div>
  </form>
</div>
